{% extends 'booking/user/base.html' %}
{% load static %}

{% block side_text %}
    <div class="booking-cta">
        <h1>{{title}}</h1>
        <p>{{description}}</p>
    </div>
{% endblock side_text %}

{% block steps %}
    <!-- Last Step START -->
    <div class="tab-pane fade show active" id="pills-done" role="tabpanel" aria-labelledby="pills-done-tab">
        <h1 class="text-success h2">Vaša rezervacija je poslana</h1>
        <p class="text-muted">dobit ćete mail za potvrdu uskoro</p>
        <p class="text-muted">hvala na izdvojenom vremenu!</p>
        <div class="d-flex align-items-center text-center justify-content-center py-3 border">
            <h4 class="text-muted">Booking ID: </h4>
            <h2 style="padding-left: 6px;">#{{booking_id}}</h2>
        </div>
    </div>
    <!-- Last Step END -->
{% endblock steps %}


{% block buttons %}
<div class="form-btn d-flex mt-4">
    <a href="{% url 'create_booking' %}" id="make-new-app" class="btn btn-primary mx-auto">Napravi novu rezervaciju</a>
    <a href="{% url 'home' %}" id="make-new-app" class="btn btn-primary mx-auto">Početna</a>
</div>
{% endblock buttons %}