<table class="table table-bordered table-hover">
    <thead>
      <tr>
        {% if full_table %}
          <th scope="col">#</th>
        {% endif %}
        <th scope="col">Ime</th>
        <th scope="col">Datum dolaska</th>
        <th scope="col">Vrijeme dolaska</th>
        <th scope="col">Telefon</th>
        <th scope="col">Email</th>
        {% if full_table %}
          <th scope="col">Created_at</th>
          <th scope="col">Actions</th>
        {% endif %}

      </tr>
    </thead>
    <tbody>
      {% for booking in bookings %}
      <tr>
        {% if full_table %}
          <th scope="row">{{booking.id}}</th>
        {% endif %}

        <td>{{booking.user_name}}</td>
        <td>{{booking.date}}</td>
        <td>{{booking.time}}</td>
        <td>{{booking.user_mobile|default:""}}</td>
        <td>{{booking.user_email}}</td>
        {% if full_table %}
          <td>{{booking.created_at}}</td>
          <td class="d-flex">

            <div class="col dropdown">
              <button class="btn btn-secondary btn-sm dropdown-toggle p-0 pe-1" type="button" id="actionDropdown" data-bs-toggle="dropdown" aria-expanded="false">
              </button>
              <ul class="dropdown-menu" aria-labelledby="actionDropdown">
                <li>
                  <form action="{% url 'booking_delete' booking.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="dropdown-item">Izbriši</button>
                  </form>
                </li>
                {% if not booking.approved %}
                  <li>
                    <form action="{% url 'booking_approve' booking.id %}" method="POST">
                      {% csrf_token %}
                      <button type="submit" class="dropdown-item">Potvrdi</button>
                    </form>
                  </li>
                {% endif %}
              </ul>
            </div>
            <div class="col">
              {% if booking.approved %}
                  <i class="fas fa-check-square text-success"></i>
              {% else %}
                  <i class="far fa-pause-circle text-danger"></i>
              {% endif %}

            </div>
        </td>
        {% endif %}
      </tr>
      {% endfor %}

    </tbody>
  </table>