{% extends 'core/base.html'  %}
{% load static %}

{% block title %} O nama {% endblock %}

{% block body %}

<div class="back_re">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="title">
               <h2>O nama</h2>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="about">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-5">
            <div class="titlepage">
               <div class="section">
                  <h3><strong>Prostrane Stambene Jedinice</strong></h3>
                  <p>Villa Detox posjeduje više stambenih jedinica, pružajući vam dovoljno prostora i privatnosti za cijelu porodicu.
                      U našem smještaju imate na raspolaganju više spavaćih soba i udobnih kreveta.</p>
              </div>
              <div class="section">
               <h3 class="highlight"><strong>Bazeni za Svačiji Ukus</strong></h3>
               <p>Naš kompleks ima dva velika bazena dimenzija <span class="highlight">11m x 6m</span>, idealna za odrasle, i dječiji bazen dimenzija <span class="highlight">3m x 2,5m</span>, savršen za najmlađe. Osim toga, tu je i luksuzni <span class="highlight">džakuzi</span> za dodatnu relaksaciju.</p>
              </div>

              <div class="section">
               <h3 class="highlight"><strong>Prostorno Ispunjena Vila:</strong></h3>
               <p>Naša vila ima ukupno 130 m2 prostora, pružajući dovoljno mjesta za udoban boravak. 
                  Kompleks se proteže na impozantnih<span class="highlight"> 2500 m2.</span></p>
              </div>

              <div class="section">
               <h3 class="highlight"><strong>Pogled na Prirodu i Zelenilo</strong></h3>
               <p>Pogled sa našeg smještaja proteže se na predivnu prirodu i bujno zelenilo koje okružuje naš kompleks.
                   Ovdje ćete zaista osjetiti mir i harmoniju prirode.</p>
              </div>
           
               
            </div>
         </div>
         <div class="col-md-7">
            <div class="about_img">
               <figure><img src="static/images/about.png" alt="#"/></figure>
            </div>
         </div>
      </div>
   </div>
</div>

<!-- end about -->

{% endblock %}


