{% extends 'core/base.html' %}
{% load static %} 

{% block title %} Ponuda {% endblock %}

{% block body %}

<div class="back_re">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="title">
                 <h2>Naš blog</h2>
             </div>
          </div>
       </div>
    </div>
 </div>

 <!-- blog -->
 <div class="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Naš Blog</h2>
                    <p class="margin_0">Dobrodošli u naš blog gdje delimo zanimljive informacije i priče.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="blog_box">
                    <div class="blog_img">
                        <figure><img src="images/blog1.jpg" alt=""/></figure>
                    </div>
                    <div class="blog_room">
                        <h3>Čarobna Planina</h3>
                        <span>Uživajte u priči o našem susretu sa divljom prirodom.</span>
                        <p>Pročitajte o našem nezaboravnom iskustvu na čarobnoj planini i otkrijte tajne prirode koje smo otkrili tokom našeg boravka.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
               <div class="blog_box">
                   <div class="blog_img">
                       <figure><img src="images/blog2.jpg" alt=""/></figure>
                   </div>
                   <div class="blog_room">
                       <h3>Rekreacija u Prirodi</h3>
                       <span>Aktivnosti i avanture u divljini.</span>
                       <p>Saznajte o avanturama koje smo doživeli tokom istraživanja prirode i aktivnostima koje možete uživati tokom vašeg boravka.</p>
                   </div>
               </div>
           </div>
            <div class="col-md-4">
                <div class="blog_box">
                    <div class="blog_img">
                        <figure><img src="images/blog2.jpg" alt=""/></figure>
                    </div>
                    <div class="blog_room">
                        <h3>Gurmanska Avantura</h3>
                        <span>Istražite lokalne ukuse i kulinarske čarolije.</span>
                        <p>Otkrijte raznolikost lokalne kuhinje i upoznajte se s gurmanskim specijalitetima koje smo degustirali tokom našeg boravka.</p>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
</div>

 <!-- end blog -->



{% endblock %}