{% extends 'core/base.html' %}
{% load static %} 

{% block title %} Ponuda {% endblock %}

{% block body %}

<div class="back_re">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="title">
                <h2>Kontakt</h2>
            </div>
         </div>
      </div>
   </div>
</div>

<!--  contact -->
{% if messages %}
<div class="alert">
    {% for message in messages %}
    <div class="alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}


<form action="/contact" method="post">
   {% csrf_token %}
   <div class="contact">
      <div class="container">
         <div class="row">
            <div class="col-md-6">
               <div class="main_form">
                  <div class="row">
                     <div class="col-md-12">
                        <input class="contactus" placeholder="Ime" type="text" name="name"> 
                     </div>
                     <div class="col-md-12">
                        <input class="contactus" placeholder="Email" type="text" name="email"> 
                     </div>
                     <div class="col-md-12">
                        <input class="contactus" placeholder="Broj telefona" type="number" name="phone_number">                          
                     </div>
                     <div class="col-md-12">
                        <textarea class="textarea" placeholder="Poruka" type="text" name="message"></textarea>
                     </div>
                     <div class="col-md-12">
                        <button class="send_btn">Pošalji</button>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-6">
               <div class="map_main">
                  <div class="map-responsive">
                     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2860.6616660796763!2d17.53114527620551!3d44.19343717108164!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475fabd4cc80ab57%3A0xfed38abbf6b098e0!2sVilla%20Detox!5e0!3m2!1shr!2sba!4v1698824892479!5m2!1shr!2sba" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </div>
               </div>
            </div>
            </div>
            
         </div>
         
      </div>
   </div>
</form>


<!-- end contact -->


{% endblock %}