{% extends 'core/base.html'  %}
{% load static %}

{% block title %} Galerija  {% endblock %}


{% block body %}
<div class="back_re">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="title">
               <h2>galerija</h2>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!-- gallery -->
 <div  class="gallery">
    <div class="container">
      
       <div class="row">
          <div class="col-md-3 col-sm-6">
             <div class="gallery_img">
                <figure><img src="static/images/banner11.jpg" alt="#"/></figure>
             </div>
          </div>
          <div class="col-md-3 col-sm-6">
             <div class="gallery_img">
                <figure><img src="static/images/bazen2.jpg" alt="#"/></figure>
             </div>
          </div>
          <div class="col-md-3 col-sm-6">
             <div class="gallery_img">
                <figure><img src="static/images/bazen3.jpg" alt="#"/></figure>
             </div>
          </div>
          <div class="col-md-3 col-sm-6">
             <div class="gallery_img">
                <figure><img src="static/images/bazen4.jpg" alt="#"/></figure>
             </div>
          </div>
          <div class="col-md-3 col-sm-6">
             <div class="gallery_img">
                <figure><img src="static/images/bazen6.jpg" alt="#"/></figure>
             </div>
          </div>
          <div class="col-md-3 col-sm-6">
             <div class="gallery_img">
                <figure><img src="static/images/bazennoc.jpg" alt="#"/></figure>
             </div>
          </div>
          <div class="col-md-3 col-sm-6">
             <div class="gallery_img">
                <figure><img src="static/images/gallery7.jpg" alt="#"/></figure>
             </div>
          </div>
          <div class="col-md-3 col-sm-6">
             <div class="gallery_img">
                <figure><img src="static/images/gallery8.jpg" alt="#"/></figure>
             </div>
          </div>
       </div>
    </div>
 </div>
 {% endblock %}
 <!-- end gallery -->
