{% load static %}

<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>keto</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="static/css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="static/css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="static/css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="static/images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="static/images/loading.gif" alt="#"/></div>
      </div>
      <!-- end loader -->
      <!-- header -->
      <header>
         <!-- header inner -->
         <div class="header">
            <div class="container">
               <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                     <div class="full">
                        <div class="center-desk">
                           <div class="logo">
                              <a href="{% url 'home' %}"><h1>Vila Detox</h1>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                     <nav class="navigation navbar navbar-expand-md navbar-dark ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarsExample04">
                           <ul class="navbar-nav mr-auto">
                              <li class="nav-item active">
                                 <a class="nav-link" href="{% url 'home' %}">Naslovna</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="{% url 'about' %}">O nama</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="{% url 'room' %}">Ponuda</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="{% url 'gallery' %}">Galerija</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="{% url 'blog' %}">Blog</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="{% url 'contact' %}">Kontakt</a>
                              </li>
                           </ul>
                        </div>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <!-- end header inner -->
      <!-- end header -->
      <!-- banner -->
      <section class="banner_main">
         <div id="myCarousel" class="carousel slide banner" data-ride="carousel">
            <ol class="carousel-indicators">
               <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
               <li data-target="#myCarousel" data-slide-to="1"></li>
               <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <img class="first-slide" src="static/images/banner2.jpg" alt="First slide">
                  <div class="container">
                  </div>
               </div>
               <div class="carousel-item">
                  <img class="second-slide" src="static/images/banner2.jpg" alt="Second slide">
               </div>
               <div class="carousel-item">
                  <img class="third-slide" src="static/images/banner3.jpg" alt="Third slide">
               </div>
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </a>
         </div>
         <div class="booking_ocline">
            <div class="container">
               <div class="row">
                  <div class="col-md-5">
                     <div class="book_room">
                        <h1>Rezerviši online</h1>
                        <form class="book_now">
                           <div class="row">
                             
                              <div class="col-md-12">
                                 
                                 <button class="book_btn">
                                    <a class="nav-link" href="{% url 'create_booking' %}">Rezervacija</a> 
                                 </button>
                              </div>
                              
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end banner -->
      <!-- about -->
      <div class="about">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-5">
                  <div class="titlepage">
                     <h2>O nama</h2>

                     <h3>Dobrodošli u Villu Detox - Vašu Oaza Mirnog Uživanja</h3>

                     <p>Villa Detox je idealno mjesto za opuštanje sa svojom porodicom i prijateljima 
                        u predivnom prirodnom okruženju.</p>
                     <p>Smještena u srcu netaknute prirode, 
                        naša vila nudi savršen odmor od gradske vreve...</p>
                     
                     <a class="read_more" href="{% url 'about' %}"> Pročitaj više</a>
                  </div>
               </div>
               <div class="col-md-7">
                  <div class="about_img">
                     <figure><img src="static/images/about.png" alt="#"/></figure>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end about -->
      <!-- our_room -->
      <div  class="our_room">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <p  class="margin_0">Na raspolaganju su 4 spavaće sobe, 6 kreveta i 1 kupatilo</p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4 col-sm-6">
                  <div id="serv_hover"  class="room">
                     <div class="room_img">
                        <figure><img src="static/images/room1.jpg" alt="#"/></figure>
                     </div>
                     <div class="bed_room">
                        <h3>Soba 1</h3>
                        <p>Soba sa dva pojedinačna kreveta, idealna za djecu. </p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6">
                  <div id="serv_hover"  class="room">
                     <div class="room_img">
                        <figure><img src="static/images/room2.jpg" alt="#"/></figure>
                     </div>
                     <div class="bed_room">
                        <h3>Soba 2</h3>
                        <p>Prostrana spavaća soba sa bračnim krevetom.</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6">
                  <div id="serv_hover"  class="room">
                     <div class="room_img">
                        <figure><img src="static/images/room3.jpg" alt="#"/></figure>
                     </div>
                     <div class="bed_room">
                        <h3>Soba 3</h3>
                        <p>Udobna spavaća soba sa bračnim krevetom </p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6">
                  <div id="serv_hover"  class="room">
                     <div class="room_img">
                        <figure><img src="static/images/room4.jpg" alt="#"/></figure>
                     </div>
                     <div class="bed_room">
                        <h3>Soba 4</h3>
                        <p>Još jedna soba sa dva pojedinačna kreveta. </p>
                     </div>
                  </div>
               </div>
               
               
            </div>
         </div>
      </div>
      <!-- end our_room -->
      <!-- gallery -->
      <div  class="gallery">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Galerija</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-3 col-sm-6">
                  <div class="gallery_img">
                     <figure><img src="static/images/gallery1.jpg" alt="#"/></figure>
                  </div>
               </div>
               <div class="col-md-3 col-sm-6">
                  <div class="gallery_img">
                     <figure><img src="static/images/gallery2.jpg" alt="#"/></figure>
                  </div>
               </div>
               <div class="col-md-3 col-sm-6">
                  <div class="gallery_img">
                     <figure><img src="static/images/gallery3.jpg" alt="#"/></figure>
                  </div>
               </div>
               <div class="col-md-3 col-sm-6">
                  <div class="gallery_img">
                     <figure><img src="static/images/gallery4.jpg" alt="#"/></figure>
                  </div>
               </div>
               <div class="col-md-3 col-sm-6">
                  <div class="gallery_img">
                     <figure><img src="static/images/gallery5.jpg" alt="#"/></figure>
                  </div>
               </div>
               <div class="col-md-3 col-sm-6">
                  <div class="gallery_img">
                     <figure><img src="static/images/gallery6.jpg" alt="#"/></figure>
                  </div>
               </div>
               <div class="col-md-3 col-sm-6">
                  <div class="gallery_img">
                     <figure><img src="static/images/gallery7.jpg" alt="#"/></figure>
                  </div>
               </div>
               <div class="col-md-3 col-sm-6">
                  <div class="gallery_img">
                     <figure><img src="static/images/gallery8.jpg" alt="#"/></figure>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end gallery -->
      <!-- blog -->
      <div class="blog">
         <div class="container">
             <div class="row">
                 <div class="col-md-12">
                     <div class="titlepage">
                         <h2>Naš Blog</h2>
                         <p class="margin_0">Dobrodošli u naš blog gdje delimo zanimljive informacije i priče.</p>
                     </div>
                 </div>
             </div>
             <div class="row">
                 <div class="col-md-4">
                     <div class="blog_box">
                         <div class="blog_img">
                             <figure><img src="images/blog1.jpg" alt=""/></figure>
                         </div>
                         <div class="blog_room">
                             <h3>Čarobna Planina</h3>
                             <span>Uživajte u priči o našem susretu sa divljom prirodom.</span>
                             <p>Pročitajte o našem nezaboravnom iskustvu na čarobnoj planini i otkrijte tajne prirode koje smo otkrili tokom našeg boravka.</p>
                         </div>
                     </div>
                 </div>
     
                 <div class="col-md-4">
                    <div class="blog_box">
                        <div class="blog_img">
                            <figure><img src="images/blog2.jpg" alt=""/></figure>
                        </div>
                        <div class="blog_room">
                            <h3>Rekreacija u Prirodi</h3>
                            <span>Aktivnosti i avanture u divljini.</span>
                            <p>Saznajte o avanturama koje smo doživeli tokom istraživanja prirode i aktivnostima koje možete uživati tokom vašeg boravka.</p>
                        </div>
                    </div>
                </div>
                 <div class="col-md-4">
                     <div class="blog_box">
                         <div class="blog_img">
                             <figure><img src="images/blog2.jpg" alt=""/></figure>
                         </div>
                         <div class="blog_room">
                             <h3>Gurmanska Avantura</h3>
                             <span>Istražite lokalne ukuse i kulinarske čarolije.</span>
                             <p>Otkrijte raznolikost lokalne kuhinje i upoznajte se s gurmanskim specijalitetima koje smo degustirali tokom našeg boravka.</p>
                         </div>
                     </div>
                 </div>
                 
                 
             </div>
         </div>
     </div>
      <!-- end blog -->
      <!--  contact -->
      <form action="/contact" method="post">
   {% csrf_token %}
   <div class="contact">
      <div class="container">
         <div class="row">
            <div class="col-md-6">
               <div class="main_form">
                  <div class="row">
                     <div class="col-md-12">
                        <input class="contactus" placeholder="Ime" type="text" name="name"> 
                     </div>
                     <div class="col-md-12">
                        <input class="contactus" placeholder="Email" type="text" name="email"> 
                     </div>
                     <div class="col-md-12">
                        <input class="contactus" placeholder="Broj telefona" type="number" name="phone_number">                          
                     </div>
                     <div class="col-md-12">
                        <textarea class="textarea" placeholder="Poruka" type="text" name="message"></textarea>
                     </div>
                     <div class="col-md-12">
                        <button class="send_btn">Pošalji</button>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-6">
               <div class="map_main">
                  <div class="map-responsive">
                     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2860.6616660796763!2d17.53114527620551!3d44.19343717108164!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475fabd4cc80ab57%3A0xfed38abbf6b098e0!2sVilla%20Detox!5e0!3m2!1shr!2sba!4v1698824892479!5m2!1shr!2sba" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </div>
               </div>
            </div>
            </div>
            
         </div>
         
      </div>
   </div>
</form>


      <!-- end contact -->
      <!--  footer -->
      <footer>
         <div class="footer">
            <div class="container">
               <div class="row">
                  <div class=" col-md-4">
                     <h3>Contact US</h3>
                     <ul class="conta">
                        <li><i class="fa fa-map-marker" aria-hidden="true"></i> Goleš bb, 72270</li>
                        <li><i class="fa fa-mobile" aria-hidden="true"></i> 061408225</li>
                        <li> <i class="fa fa-envelope" aria-hidden="true"></i><a href="#"> sema@gmail.com</a></li>
                     </ul>
                  </div>
                  <div class="col-md-4">
                     <h3>Menu Link</h3>
                     <ul class="link_menu">
                        <li class="active"><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'about' %}">O nama</a></li>
                        <li><a href="{% url 'room' %}">Ponuda</a></li>
                        <li><a href="{% url 'gallery' %}">Galerija</a></li>
                        <li><a href="{% url 'blog' %}">Blog</a></li>
                        <li><a href="{% url 'contact' %}">Kontakt</a></li>
                     </ul>
                  </div>
                  <div class="col-md-4">
                    
                     <ul class="social_icon">
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="copyright">
               <div class="container">
                  
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="static/js/jquery.min.js"></script>
      <script src="static/js/bootstrap.bundle.min.js"></script>
      <script src="static/js/jquery-3.0.0.min.js"></script>
      <!-- sidebar -->
      <script src="static/js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="static/js/custom.js"></script>
   </body>
</html>