{% extends 'core/base.html' %}
{% load static %} 

{% block title %} Ponuda {% endblock %}

{% block body %}

<div class="back_re">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="title">
                <h2>Ponuda</h2>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!-- our_room -->
 <div  class="our_room">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <p  class="margin_0">Na raspolaganju su 4 spavaće sobe, 6 kreveta i 1 kupatilo</p>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-md-4 col-sm-6">
             <div id="serv_hover"  class="room">
                <div class="room_img">
                   <figure><img src="static/images/room1.jpg" alt="#"/></figure>
                </div>
                <div class="bed_room">
                   <h3>Soba 1</h3>
                   <p>Soba sa dva pojedinačna kreveta, idealna za djecu. </p>
                </div>
             </div>
          </div>
          <div class="col-md-4 col-sm-6">
             <div id="serv_hover"  class="room">
                <div class="room_img">
                   <figure><img src="static/images/room2.jpg" alt="#"/></figure>
                </div>
                <div class="bed_room">
                   <h3>Soba 2</h3>
                   <p>Prostrana spavaća soba sa bračnim krevetom.</p>
                </div>
             </div>
          </div>
          <div class="col-md-4 col-sm-6">
             <div id="serv_hover"  class="room">
                <div class="room_img">
                   <figure><img src="static/images/room3.jpg" alt="#"/></figure>
                </div>
                <div class="bed_room">
                   <h3>Soba 3</h3>
                   <p>Udobna spavaća soba sa bračnim krevetom </p>
                </div>
             </div>
          </div>
          <div class="col-md-4 col-sm-6">
             <div id="serv_hover"  class="room">
                <div class="room_img">
                   <figure><img src="static/images/room4.jpg" alt="#"/></figure>
                </div>
                <div class="bed_room">
                   <h3>Soba 4</h3>
                   <p>Još jedna soba sa dva pojedinačna kreveta. </p>
                </div>
             </div>
          </div>
          
          
       </div>
    </div>
 </div>
 <!-- end our_room -->




{% endblock %}